@font-face {
	font-family: "HK Grotesk";
	src: url("../../../public/fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.App {
	min-height: 100vh;
	background-color: #00060EF7;
	text-align: center;
	color: aliceblue;
	font-family: "HK Grotesk", sans-serif ;


}

